:root {
  --btn-color: #1278ed;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1F1E1E;
  font-family: "Roboto", sans-serif;
}

/*navigation bar*/
nav {
  width: 100%;
  height: 48px;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  display: flex;
  align-items: center;

  color: black;
  background-color: white;
}

nav div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black;
}

nav button {
  border: none;
  padding: 15px 50px;
  background-color: var(--btn-color);
  color: white;
}

nav span {
  flex-grow: 0.5;
}

/*navigation bar*/

/* max-width: 60% */
/*first section*/

.fs {
  margin-top: 2%;
  color: white;
  max-width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 20px;

  
}

.fs h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}

.fs p {
  font-size: medium;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.fs button {
  border: none;
  padding: 27px 65px;
  background-color: var(--btn-color);
  color: white;
  margin-bottom: 30px;
}

.fs video {
  width: 100%;
}

.fs-lower-part {
  color: white;
  margin-inline: auto;
  max-width: 85%;
  text-align: center;
  margin-top: 30px;
  
}
.fs-lower-part i {
  font-size: xx-large;
}
.fs-lower-part h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Bai Jamjuree', sans-serif;
}

.fs-grid-items {
  display: grid;
  grid-template-rows: repeat(1, 15em);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
}

.fs-grid-items .grid-item {
  width: 100%;
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*first section*/

/* second section */
.ss {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 100px;
  /* width: 100%; */
  height: 100vh;

}
.ss h1 {
  margin-top: 5%;
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  font-size: 2.5rem;
}
.ss .container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20%;
  column-gap: 5%;
  max-width: 90%;
  margin-inline: auto;
}

.ss .container a {
  color: black;
}

.ss .container .grid-items .grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: space-around;
  gap: 20px;
}

.ss .container .grid-items .grid-item i{
  font-size: 3rem;
}

/* second section*/



/* responsive */
@media (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  nav div h1, .left-nav-content, .fa-globe, .btn-gs {
    display: none;
  }

  .fs {
    max-width: 85%;
    margin-top: 20%;
  }

  .fs h1 {
    font-size: 2.5rem;
  }

  .fs-lower-part {
    margin-top: 20px;
  }

  .fs-lower-part h2 {
    font-size: 1.8rem;
  }

  .fs-grid-items {
    grid-template-rows: repeat(4, 13em);
    grid-template-columns: repeat(1, 1fr);
    font-size: large;
  }

  /* second section */
  .ss {
    height: 2500px;
  }
  .ss h1{
    margin-inline: auto;
    width: 80%;
    font-size: 2rem;
  }

  .ss .container {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  row-gap: 3%;
  margin-left: 10%;
  width: 80%;
  }

}
