:root {
  --btn-color: #1278ed;
}

body {
  margin: 0;
  background-color: #1F1E1E;
  font-family: "Roboto", sans-serif;
}

/*navigation bar*/
nav {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  color: black;
  background-color: white;
}

nav div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav button {
  border: none;
  padding: 15px 50px;
  background-color: var(--btn-color);
  color: white;
}

nav span {
  flex-grow: 0.5;
}
/*navigation bar*/

/*first section*/
.fs {
  color: white;
  margin-inline: auto;
  max-width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.fs h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}

.fs p {
  font-size: medium;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.fs button {
  border: none;
  padding: 27px 65px;
  background-color: var(--btn-color);
  color: white;
  margin-bottom: 30px;
}

.fs video {
  margin: 30px;
}

.fs-lower-part {
  color: white;
  margin-inline: auto;
  max-width: 90%;
  text-align: center;
  margin-top: 30px;
  
}
.fs-lower-part i {
  font-size: xx-large;
}
.fs-lower-part h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Bai Jamjuree', sans-serif;
}

.fs-grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
}

.fs-grid-items .grid-item {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*first section*/

/* responsive */
@media (max-width: 1279px) {
  nav div {
    justify-content: space-around;

  }

  nav div span {
    flex-grow: 0.9;
  }

  .left-nav-content {
    display: none;
  }
}

@media (max-width: 767px) {
  nav button {
    display: none;
  }

  .fs {
    margin-inline: auto;
    max-width: 95%;
  }

  .fs video {
    width: 100%;
  }

  .fs h1 {
    font-size: 40px;
  }
  
  .fs-lower-part {
    margin-inline: auto;
    max-width: 85%;
  }
  .fs-lower-part h2 {
    font-size: 30px ;
  }

  .fs-grid-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    row-gap: 10%;
  }

}

@media (max-width: 480px) {
  nav div h1 {
    display: none;
  }

  .fa-globe {
    display: none;
  }

  .fs {
    margin-inline: auto;
    max-width: 90%;
  }

  .fs video {
    width: 100%;
  }

  .fs-lower-part {
    margin-inline: auto;
    max-width: 80%;
  }
  .fs-grid-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10%;
    row-gap: 10%;
  }
}
